.vscode
.VSCodeCounter
src/kernel/node_active/node_modules/
test/test_jwt/node_modules/
*.bkp
*.exe
package-lock.json
src/kernel/node_active/dist/
src/kernel/buckyos_sdk/dist/
src/kernel/buckyos_sdk/node_modules/
src/rootfs/bin/active/index.d.ts
src/rootfs/bin/active/
src/rootfs/bin/cyfs_gateway/cyfs_gateway
src/rootfs/bin/scheduler/scheduler
src/rootfs/bin/system_config/system_config
src/rootfs/bin/verify_hub/verify_hub
src/rootfs/bin/node_daemon
src/apps/control_panel/src/node_modules/.modules.yaml
src/apps/control_panel/src/node_modules/.bin/handlebars
src/apps/control_panel/src/node_modules/
src/apps/control_panel/src/dist/
src/apps/sys_test/dist/
src/apps/sys_test/node_modules/
/src/rootfs/bin/control_panel/
/src/rootfs/bin/sys_test/
/src/scripts/__pycache__/
target/
cargo.lock
pnpm-lock.yaml