.vscode
**/.idea
.VSCodeCounter
*.bkp
*.exe
package-lock.json
pyvenv.cfg
__pycache__
src/kernel/node_active/dist/
src/kernel/buckyos_sdk/dist/
src/kernel/task_manager/tasks.db
src/rootfs/bin/node-active/
src/rootfs/bin/cyfs-gateway/cyfs_gateway
src/rootfs/bin/scheduler/scheduler
src/rootfs/bin/system-config/system_config
src/rootfs/bin/verify-hub/verify_hub
src/rootfs/bin/node-daemon/node_daemon
src/rootfs/bin/repo-service/repo_service
src/rootfs/bin/smb-service/smb_service
src/rootfs/bin/buckycli/buckycli
/src/rootfs/bin/control-panel/
/src/rootfs/bin/sys-test/
src/rootfs/logs
src/rootfs/tmp
src/apps/control_panel/src/dist/
src/apps/sys_test/dist/

src/web3_bridge/cyfs_gateway

/src/scripts/remote/device_info.json
/src/scripts/remote/dev_configs/device_info.json
/src/scripts/remote/lib*
/src/scripts/remote/bin*
/src/scripts/remote/include
/src/scripts/remote/network-cache
/src/scripts/remote/dev_configs/sn_server/web3_gateway.json
/src/scripts/remote/clog

target/
cargo.lock
pnpm-lock.yaml

src/Cargo.lock
**/node_modules
.pnpm-store
src/scripts/remote/dev_configs.bak
src/rootfs/bin/control-panel/i18n.d.ts
src/rootfs/_buckycli_tmp/
src/_scripts/

rootfs/_buckycli_tmp/
