{
  "device_name":"web3.buckyos.io",
  "device_key_path":"/opt/cyfs_gateway/device_key.pem",
  "inner_services":{
    "main_sn" : {
      "type" : "cyfs-sn",
      "host":"web3.buckyos.io",
      "ip":"${local_ip}",
      "aliases":["web3.buckyos.cc", "web3.buckyos.ai"],
      "zone_config_jwt":"TODO",
      "zone_config_pkx":"TODO"
    },
    "zone_provider" : {
      "type" : "zone-provider"
    }
  },
  "servers":{
    "main_http_server":{
      "type":"cyfs-warp",
      "bind":"0.0.0.0",
      "http_port":80,
      "tls_port":443,
      "hosts": {
        "web3.buckyos.ai": {
          "tls": {
            "disable_tls": true,
            "cert_path": "fullchain.cer",
            "key_path": "buckyos.ai.key",
            "enable_acme": false
          },
          "enable_cors":true,
          "routes": {
            "/kapi/sn":{
              "inner_service":"main_sn"
            },
            "/static":{
              "local_dir":"/opt/cyfs_gateway"
            },
            "/test_upstream": {
              "upstream": "http://127.0.0.1:8000"
            },
	        "/test_upstream_permanent": {
	          "upstream": "http://127.0.0.1:8000 redirect permanent"
	        },
            "/test_upstream_temporary": {
              "upstream": "http://127.0.0.1:8000 redirect temporary"
            }
          }
        },
        "web3.buckyos.com": {
          "tls": {
            "disable_tls": true,
            "cert_path": "fullchain.cer",
            "key_path": "buckyos.ai.key",
            "enable_acme": false
          },
          "enable_cors":false,
          "routes": {
            "/static":{
              "local_dir":"/opt/cyfs_gateway"
            },
            "/test_upstream": {
              "enable_cors":true,
              "upstream": "http://127.0.0.1:8000"
            },
	        "/test_upstream_permanent": {
	          "upstream": "http://127.0.0.1:8000 redirect permanent"
	        },
            "/test_upstream_temporary": {
              "upstream": "http://127.0.0.1:8000 redirect temporary"
            }
          }
        },
	     "web3.buckyos.site": {
	       "tls": {
	         "disable_tls": false,
	         "cert_path": "/opt/cyfs_gateway/web3.buckyos.site.crt",
	         "key_path": "/opt/cyfs_gateway/web3.buckyos.site.key",
	         "enable_acme": false
	       },
	       "enable_cors":false,
	       "routes": {
	         "/static":{
	           "local_dir":"/opt/cyfs_gateway"
	         },
	         "/test_upstream": {
	           "enable_cors":true,
	           "upstream": "http://127.0.0.1:8000"
	         },
	        "/test_upstream_permanent": {
	          "upstream": "http://127.0.0.1:8000 redirect permanent"
	        },
	         "/test_upstream_temporary": {
	           "upstream": "http://127.0.0.1:8000 redirect temporary"
	         }
	       }
	     },
	     "www.buckyos.site": {
	       "tls": {
	         "disable_tls": false,
	         "cert_path": "/opt/cyfs_gateway/buckyos.site.crt",
	         "key_path": "/opt/cyfs_gateway/buckyos.site.key",
	         "enable_acme": false
	       },
	       "enable_cors":false,
	       "routes": {
	         "/static":{
	           "local_dir":"/opt/cyfs_gateway"
	         },
	         "/test_upstream": {
	           "enable_cors":true,
	           "upstream": "http://127.0.0.1:8000"
	         },
	        "/test_upstream_permanent": {
	          "upstream": "http://127.0.0.1:8000 redirect permanent"
	        },
	         "/test_upstream_temporary": {
	           "upstream": "http://127.0.0.1:8000 redirect temporary"
	         }
	       }
	     },
	     "web3.buckyos.xx": {
	       "tls": {
	         "disable_tls": false,
	         "cert_path": "/opt/cyfs_gateway/web3.buckyos.xx.crt",
	         "key_path": "/opt/cyfs_gateway/web3.buckyos.xx.key",
	         "enable_acme": false
	       },
	       "enable_cors":false,
	       "routes": {
	         "/static":{
	           "local_dir":"/opt/cyfs_gateway"
	         },
	         "/test_upstream": {
	           "enable_cors":true,
	           "upstream": "http://127.0.0.1:8000"
	         },
	        "/test_upstream_permanent": {
	          "upstream": "http://127.0.0.1:8000 redirect permanent"
	        },
	         "/test_upstream_temporary": {
	           "upstream": "http://127.0.0.1:8000 redirect temporary"
	         }
	       }
	     },
        "sn.buckyos.ai": {
          "tls": {
            "disable_tls": true,
            "cert_path": "fullchain.cer",
            "key_path": "buckyos.ai.key",
            "enable_acme": false
          },
          "routes": {
            "/":{
              "tunnel_selector":"main_sn"
            }
          }
        },
        "*":{
          "routes": {
            "/static":{
              "local_dir":"/opt/cyfs_gateway"
            },
            "/test_upstream": {
              "upstream": "http://127.0.0.1:8000"
            },
            "/test_upstream_permanent": {
              "upstream": "http://127.0.0.1:8000 redirect permanent"
            },
            "/test_upstream_temporary": {
              "upstream": "http://127.0.0.1:8000 redirect temporary"
            }
          }
        }
      }
    },
    "main_dns_server":{
      "type":"cyfs-dns",
      "bind":"${dns_ip}",
      "port": 53,
      "resolver_chain": [
        {
          "type": "SN",
          "server_id": "main_sn"
        },
        {
           "type":"LocalConfig",
           "path":"/opt/cyfs_gateway/local_dns.toml"
        },
        {
          "type": "dns",
          "dns_server": "223.5.5.5",
          "cache": true
        }
      ],
      "fallback": ["223.5.5.5","8.8.8.8"]
    },
     "second_dns_server":{
       "type":"cyfs-dns",
       "bind":"${dns_ip}",
       "port": 534,
       "resolver_chain": [
         {
           "type": "dns",
           "dns_server": "127.0.3.1",
           "cache": true
         }
       ],
       "fallback": ["223.5.5.5","8.8.8.8"]
     }
  },

  "dispatcher" : {
    "udp://0.0.0.0:53":{
      "type":"server",
      "id":"main_dns_server"
    },
    "tcp://0.0.0.0:8080":{
      "type":"forward",
	  "target":"tcp:///127.0.0.1:8000"
    },
    "rtcp://0.0.0.0:8081":{
      "type":"forward",
	  "target":"tcp:///127.0.0.1:8000"
    },
    "tcp://0.0.0.0:443":{
      "type":"server",
      "id":"main_http_server"
    },
    "udp://0.0.0.0:5643": {
      "type": "forward",
      "target": "udp:///127.0.0.1:8888"
    }
  },
  "includes": []
}
