{
  "@context": "https://www.w3.org/ns/did/v1",
  "id": "did:dev:5bUuyWLOKyCre9az_IhJVIuOw8bA0gyKjstcYGHbaPE",
  "verificationMethod": [
    {
      "type": "Ed25519VerificationKey2020",
      "id": "#main_key",
      "controller": "did:dev:5bUuyWLOKyCre9az_IhJVIuOw8bA0gyKjstcYGHbaPE",
      "publicKeyJwk": {
        "kty": "OKP",
        "crv": "Ed25519",
        "x": "5bUuyWLOKyCre9az_IhJVIuOw8bA0gyKjstcYGHbaPE"
      }
    }
  ],
  "authentication": [
    "#main_key"
  ],
  "assertion_method": [
    "#main_key"
  ],
  "exp": 2063959597,
  "iat": 1748599597,
  "name": "web3.buckyos.io",
  "iss": "did:bns:lzc",
  "device_type": "server",
  "ip": "${ip}",
  "net_id": "wan"
}
