[package]
name = "control_panel_service"
version = "0.4.0"
edition = "2021"
authors = ["BuckyOS DAO","@sun"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
toml = "*"
clap = "*"
serde = { version = "*", features = ["derive"] }
serde_json = "*"
log = "*"
simplelog = "*"
thiserror = "*"
tokio = { version = "*", features = ["full"] }
async-trait = "*"
futures = "*"
lazy_static = "*"
jsonwebtoken = { version = "*", features = ["aws_lc_rs"] }
num_cpus = "*"
reqwest = "*"
url = "*"
time = { version = "^0.3", features = ["formatting"] }
sysinfo = "*"
chrono = { version = "*", features = ["serde"] }
if-addrs = "*"
anyhow="*"
cyfs-warp = { path = "../../../cyfs_gateway/cyfs-warp" }
cyfs-gateway-lib = { path = "../../../cyfs_gateway/cyfs-gateway-lib" }
buckyos-kit = { git = "https://github.com/buckyos/buckyos-base.git", package = "buckyos-kit" }
name-lib = { git = "https://github.com/buckyos/buckyos-base.git", package = "name-lib" }
name-client = { git = "https://github.com/buckyos/buckyos-base.git", package = "name-client" }
package-lib = { git = "https://github.com/buckyos/cyfs-ndn.git", package = "package-lib" }
ndn-lib = { git = "https://github.com/buckyos/cyfs-ndn.git", package = "ndn-lib" }
#package-installer = { path = "../../components/package-installer" }
kRPC = { workspace = true }
buckyos-api = { path = "../../../kernel/buckyos-api" }
