[package]
name = "buckycli"
version = "0.4.0"
edition = "2021"


[dependencies]
tokio = { version = "*", features = ["full"] }
clap = "4.5.4"
serde_json = "1.0.116"
vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl", "rustc", "si"] }
flate2 = "1.0"
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = { version = "1.0", features = ["derive"] }
sha2 = "0.10"
tar = "0.4"
toml = "0.5"
kRPC = { path = "../../kernel/kRPC"}
buckyos-kit = { path = "../../components/buckyos-kit"}
name-lib = { path = "../../components/name-lib"}
ndn-lib = { path = "../../components/ndn-lib"}
buckyos-api = { path = "../../kernel/buckyos-api"}
package-installer = { path = "../../components/package-installer"}
jsonwebtoken = "9.3.0"
ed25519-dalek = { version = "*", features = ["pkcs8", "pem"] } 
base64 = "*"
log = "0.4"
env_logger = "0.10"
rustyline = "11.0.0"

[build-dependencies]
vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl", "rustc", "si"] }
anyhow = "1.0.86"
