[package]
name = "buckycli"
version.workspace = true
edition = "2021"


[dependencies]
tokio = { version = "*", features = ["full"] }
clap = "4.5.4"
serde_json = "1.0.116"
vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl", "rustc", "si"] }
flate2 = "1.0"
reqwest = { version = "0.11", features = ["blocking", "json", "hickory-dns"] }
serde = { version = "1.0", features = ["derive"] }
sha2 = "0.10"
tar = "0.4"
toml = "0.5"
kRPC = { workspace = true }
buckyos-kit = { workspace = true }
name-lib = { workspace = true }
ndn-lib = { workspace = true }
buckyos-api = { path = "../../kernel/buckyos-api"}
package-lib = { workspace = true }
jsonwebtoken = { version = "*", features = ["aws_lc_rs"] }
ed25519-dalek = { version = "*", features = ["pkcs8", "pem"] } 
base64 = "*"
log = "0.4"
env_logger = "0.10"
rustyline = "11.0.0"
cyfs-sn = { path = "../../cyfs_gateway/cyfs-sn" }

[dev-dependencies]
tempfile = "*"

[build-dependencies]
vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl", "rustc", "si"] }
anyhow = "*"

