[package]
name = "buckycli"
version.workspace = true
edition = "2021"


[dependencies]
tokio = { workspace = true }
clap = { workspace = true }
serde_json = { workspace = true }
vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl", "rustc", "si"] }
flate2 = { workspace = true }
reqwest = { workspace = true, features = ["blocking", "json", "hickory-dns"] }
serde = { workspace = true }
sha2 = { workspace = true }
tar = { workspace = true }
toml = { workspace = true }
kRPC = { workspace = true }
buckyos-kit = { workspace = true }
name-lib = { workspace = true }
ndn-lib = { workspace = true }
buckyos-api = { path = "../../kernel/buckyos-api"}
package-lib = { workspace = true }
jsonwebtoken = { workspace = true }
ed25519-dalek = { workspace = true }
base64 = { workspace = true }
log = { workspace = true }
env_logger = { workspace = true }
rustyline = { workspace = true }
cyfs-sn = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }

[build-dependencies]
vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl", "rustc", "si"] }
anyhow = { workspace = true }

