[package]
name = "node_daemon"
version.workspace = true
edition = "2021"
authors = ["BuckyOS DAO","@waterflier"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# 3rd party dependencies
toml = { workspace = true }
clap = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
log = { workspace = true }
simplelog = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
lazy_static = { workspace = true }
jsonwebtoken = { workspace = true }
num_cpus = { workspace = true }
reqwest = { workspace = true }
url = { workspace = true }
time = { workspace = true }
sysinfo = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
if-addrs = { workspace = true }
cyfs-gateway-lib = { workspace = true }
kRPC = { workspace = true }
buckyos-kit = { workspace = true }
name-lib = { workspace = true }
name-client = { workspace = true }
package-lib = { workspace = true }
ndn-lib = { workspace = true }
#package-installer = { path = "../../components/package-installer" }
buckyos-api = { path = "../buckyos-api" }
anyhow = { workspace = true }
server-runner = { workspace = true }
bytes = { workspace = true }
http = { workspace = true }
http-body-util = { workspace = true }

[target.'cfg(windows)'.dependencies]
windows-service = "0.7"

