[package]
name = "task_manager"
version.workspace = true
edition = "2021"
authors = ["BuckyOS DAO","@alexsunxl","@waterflier"]

[dependencies]
async-trait = { workspace = true }
tokio = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
rusqlite = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
log = { workspace = true }
lazy_static = { workspace = true }



server-runner = { workspace = true }
kRPC = { workspace = true }
buckyos-kit = { workspace = true }
cyfs-gateway-lib = { workspace = true }
bytes = { workspace = true }
http = { workspace = true }
http-body-util = { workspace = true }
buckyos-api = { path = "../buckyos-api" }

[dev-dependencies]
tempfile = { workspace = true }
