[package]
name = "task-manager"
version.workspace = true
edition = "2021"
authors = ["BuckyOS DAO","@alexsunxl","@waterflier"]

[dependencies]
async-trait = "*"
tokio = { version = "1", features = ["full"] }
warp = "0.3.7"
chrono = { version = "*", features = ["serde"] }
rusqlite =  { version = "*", features = ["bundled"] }
serde = { version = "*", features = ["derive"] }
serde_json = "*"
log = "*"
lazy_static = "*"



cyfs-warp = { path = "../../cyfs_gateway/cyfs-warp" }
kRPC = { workspace = true }
buckyos-kit = { workspace = true }
cyfs-gateway-lib = { path = "../../cyfs_gateway/cyfs-gateway-lib" }

[dev-dependencies]
tempfile = "*"
