<style>
    :host {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }



    #back-button {
      position: absolute;
      top: 10px;
      left: 10px;
      display: none;
    }

  </style>
  <div id="dlg-frame" >
    <md-outlined-icon-button id="back-button" aria-label="back">
        <md-icon>arrow_back</md-icon>
    </md-outlined-icon-button>
    <slot id="dlg-content"></slot>
  </div>