[package]
name = "smb_service"
version.workspace = true
edition = "2021"

[dependencies]
buckyos-kit = { workspace = true }
buckyos-api = { path = "../../kernel/buckyos-api" }
rust-ini = "0.21.1"
tokio = { workspace = true }
sfo-result = { version = "0.2.11", features = ["log", "backtrace"] }
sfo-log = "0.1.3"
log = { workspace = true }
shlex = "1.3.0"
num_cpus = { workspace = true }
clap = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sysinfo = { workspace = true }
fs2 = "0.4.3"
sfo-io = "0.1"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.58.0", features = ["Win32_Storage_FileSystem", "Win32_NetworkManagement_NetManagement", "Win32_Security", "Win32_Security_Authorization", "Win32_System_SystemServices"] }
