name: Build All

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number'
        required: true
        type: string
      enable_tests:
        description: 'Enable cargo tests during build'
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      version:
        description: 'Version number'
        required: true
        type: string
      enable_tests:
        description: 'Enable cargo tests during build'
        required: false
        type: boolean
        default: false
    outputs:
      build_time:
        value: ${{jobs.build-linux.outputs.build_time}}

jobs:
  build-windows:
    strategy:
      matrix:
        arch: ["x86_64"]
    uses: ./.github/workflows/build-windows.yml
    with:
      version: ${{ inputs.version }}
      arch: ${{ matrix.arch }}
      enable_tests: ${{inputs.enable_tests}}
    secrets: inherit
  build-linux:
    strategy:
      matrix:
        arch: ["x86_64", "aarch64"]
    uses: ./.github/workflows/build-linux.yml
    with:
      version: ${{ inputs.version }}
      arch: ${{ matrix.arch }}
      enable_tests: ${{inputs.enable_tests}}
    secrets: inherit
  build-macos:
    strategy:
      matrix:
        arch: ["x86_64", "aarch64"]
    uses: ./.github/workflows/build-macos.yml
    with:
      version: ${{ inputs.version }}
      arch: ${{ matrix.arch }}
      enable_tests: ${{inputs.enable_tests}}
    secrets: inherit