name: Build Buckyos Windows Components
on: 
    workflow_call:
        inputs:
            version:
                required: true
                type: string
            arch:
                required: true
                type: string
            enable_tests:
                required: false
                type: boolean
                default: false
        outputs:
            build_time:
                value: ${{jobs.build.outputs.build_time}}

jobs:
  build:
    name: build
    runs-on: windows-latest
    steps:
    - name: Set up current date and time
      uses: Kaven-Universe/github-action-current-date-time@v1
      id: date
      with:
        format: 'YYYYMMDD'
    - name: short time
      id: short_time
      run: |
        $val = "${{ steps.date.outputs.time }}"
        $last6 = $val.Substring($val.Length - 6)
        echo "last6=$last6" >> $env:GITHUB_OUTPUT
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: "latest"
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        targets: ${{inputs.arch}}-pc-windows-msvc
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ inputs.arch == 'aarch64' && 'amd64_arm64' || 'amd64' }}
    - uses: actions/setup-python@v6
      with:
        python-version: '3.11' 
    - name: cargo test
      working-directory: ./src
      if: ${{inputs.enable_tests == true}}
      run: cargo test -- --test-threads=1
    - name: install buckyos devkit
      run: pip install "buckyos-devkit @ git+https://github.com/buckyos/buckyos-devkit.git"
    - name: build buckyos
      working-directory: ./src
      run: buckyos-build --skip-web --target=${{inputs.arch}}-pc-windows-msvc
      env:
        PYTHONIOENCODING: 'utf-8'
        PYTHONLEGACYWINDOWSSTDIO: "utf-8"
    - name: Prepare tools
      run: |
        mkdir tools
        copy src\rootfs\bin\buckycli\buckycli.exe tools
    - name: Upload tools
      uses: actions/upload-artifact@v4
      with:
        name: buckyos-tools-windows-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}-${{inputs.version}}+build${{ steps.short_time.outputs.last6 }}
        path: tools
        if-no-files-found: error
    - name: Upload
      id: upload
      uses: actions/upload-artifact@v4
      with:
        name: buckyos-windows-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}-${{inputs.version}}+build${{ steps.short_time.outputs.last6 }}
        path: src/rootfs
        if-no-files-found: error
    - name: Report Upload Urls
      run: |
        npm i
        npm run build
        node client.js seturl ${{inputs.version}}+build${{ steps.short_time.outputs.last6 }} windows ${{inputs.arch}} ${{steps.upload.outputs.artifact-url}} ${{github.sha}}
      working-directory: ./test/test_server
      env:
        USERNAME: ${{ secrets.TEST_SERVER_USERNAME }}
        PRIVATE_KEY: ${{ secrets.TEST_SERVER_PRIVATE_KEY }}
        ENDPOINT: "https://buckyos.ai"
    outputs:
      build_time: ${{ steps.date.outputs.time }}
