name: Windows Installer(Inno)
on:
    workflow_call:
        inputs:
            version:
                required: true
                type: string
            build_time:
                required: true
                type: string
            run_id:
                required: true
                type: number
    workflow_dispatch:
        inputs:
            version:
                required: true
                type: string
            build_time:
                required: true
                type: string
            run_id:
                required: true
                type: number

jobs:
    pack:
        runs-on: windows-latest
        strategy:
            matrix:
                arch: ["x86_64"]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: clean old rootfs
              run: rmdir /S /Q .\src\rootfs
              shell: cmd
            - name: Download Artifact
              uses: actions/download-artifact@v4
              with:
                  name: buckyos-windows-${{matrix.arch}}-${{inputs.version}}-${{ inputs.build_time }}
                  path: ./src/rootfs
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  run-id: ${{inputs.run_id}}
            - name: Download Tools
              uses: actions/download-artifact@v4
              with:
                name: buckyos-tools-linux-x86_64-${{inputs.version}}-${{ inputs.build_time }}
                github-token: ${{ secrets.GITHUB_TOKEN }}
                run-id: ${{inputs.run_id}}
                path: tools
            - name: Prepare Installer
              working-directory: ./src
              run: python3 scripts/make_win_installer.py --version=${{inputs.version}} --builddate=${{inputs.build_time}} --no-build
              env:
                BUCKYCLI_PATH: ${{github.workspace}}\\tools\\buckycli.exe
            - name: Build Installer
              uses: ImagineBoom/Inno-Setup-Action@v1.0.0
              with:
                path: src/buckyos_installer/installer.iss
                options: /DMyAppVersion=\"${{inputs.version}}\"
            - name: Upload installer
              uses: actions/upload-artifact@v4
              with:
                name: buckyos-x86_64-${{inputs.version}}.exe
                path: ./src/buckyos_installer/buckyos-installer-${{inputs.version}}.exe
                if-no-files-found: error