name: Build Deb Installer
on:
    workflow_call:
        inputs:
            version:
                required: true
                type: string
            build_time:
                required: true
                type: string
            run_id:
                required: true
                type: number

    workflow_dispatch:
        inputs:
            version:
                required: true
                type: string
            build_time:
                required: true
                type: string
            run_id:
                required: true
                type: number

jobs:
    pack:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                arch: ["x86_64", "aarch64"]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: clean old rootfs
              run: rm -rf ./src/rootfs 
            - name: Download Artifact
              uses: actions/download-artifact@v4
              with:
                  name: buckyos-linux-${{matrix.arch}}-${{inputs.version}}-${{ inputs.build_time }}
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  run-id: ${{inputs.run_id}}
            - name: untar rootfs
              run: tar -xvf rootfs.tar
            - name: check rootfs
              run: ls -l ./src/rootfs
            - name: Download Tools
              uses: actions/download-artifact@v4
              with:
                name: buckyos-tools-linux-x86_64-${{inputs.version}}-${{ inputs.build_time }}
                github-token: ${{ secrets.GITHUB_TOKEN }}
                run-id: ${{inputs.run_id}}
                path: tools
            - name: Prepare Tools
              run: |
                chmod +x ./tools/*
                ls -l ./tools
            - name: make deb
              working-directory: ./src
              run: python3 scripts/make_deb.py ${{matrix.arch}} ${{inputs.version}} ${{inputs.build_time}}
              env:
                BUCKYCLI_PATH: ${{github.workspace}}/tools/buckycli
            - name: Upload deb
              uses: actions/upload-artifact@v4
              with:
                name: buckyos-${{matrix.arch}}-${{inputs.version}}.deb
                path: ./src/buckyos-${{matrix.arch}}-${{inputs.version}}.deb
                if-no-files-found: error